<h2>Armando, a new client is requesting information.<h2>
<div class="message" style="margin-left:50px;">
  <p>Name: <%= @client.name %></p>
  <p>Email: <%=@client.email%></p>
  <p>Phone Number: <%=@client.phone%></p>
  <p>House Address: <%=@client.home_address%></p>
  <p>Comment: <%=@client.comment%></p>
</div>
